
/* Custom Styles */

.col-md-6, .col-md-3 {
    float:left;
}

/* Top margin on the Inflation overview */
.jumbotron {
    margin-top:110px;
}

/* Blue div background for the Price Comparison dropdowns */
.card-primary {
    background-color:#2a9fd6;
    border-radius:5px;
    padding:0;
    color:#fff;
    margin-bottom:20px;
}

/* Walmart image background for Price Comparison area */
.prodComp {
    padding:40px 20px;
    margin-bottom:20px;
    background: linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)), url('../images/walmart-shopping.jpg');
    background-image:center;
    background-size: cover;
    background-position: center;
    margin-top:60px;
}

/* Formatting for text inside yearly price bars in Product Comparison */
.pricebars {
    padding:5px;
    color:#fff;
    font-weight:bold;
    display:block;
}

/* Font formatting for the Price Difference div in Price Comparison area */
#pricecomp {
    font-size:18px;
    color:#fff;
}

/* Background formatting for the Price Changes & Categories divs */
.border-primary-col {
    background-color:#222;
    border:1px solid #2a9fd6;
    border-radius:5px;
    padding:40px 20px;
    margin:60px 0px 30px 0;
}

/* Layout spacing for the sections */
.border-primary {
    padding:40px 20px;
    margin:60px 0px;
    color:#fff;
}