<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://d3js.org/d3.v5.min.js"></script>
</head>
<body>
    <div class="col-md-2">
        <div class="well">
          <h5>Walmart Product ID</h5>
          <select id="selDataset" ></select>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Product Info</h3>
            </div>
            <div id="sample-metadata" class="panel-body">
              
            </div>
          </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="../static/maria.js"></script>
</body>
</html>