<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Walmart Data Dashboard</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- BOOTSWATCH THEME: SLATE -->
    <link rel="stylesheet" href="./static/css/bootstrap.min.css">
    <!-- CUSTOM STYLES -->
    <link rel="stylesheet" href="./static/css/styles.css">
  </head>
<body>
  <!-- NAV BAR -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><img src="./static/images/Walmart_Logos_Lockup_horiz_1C_wht_RGB.png" height="50" class="d-inline-block align-top" alt="latitude icon" loading="lazy"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="index.html">Overview <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Products
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#products">Comparison Tool</a>
            <a class="dropdown-item" href="#top-price-changes">Top Price Changes</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categories
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#categories">Category Counts</a>
            <a class="dropdown-item" href="#category-pricing">Average Price Comparison</a>
            <a class="dropdown-item" href="#category-pricing-trends">Price Trends</a>
        </li>
      </ul>
    </div>
  </nav>  

  <!-- OVERVIEW -->
  <div class="row">
    <div class="container">
      <div class="jumbotron" style="margin-top:20px;">
        <h1 class="display-3">Inflation</h1>
        <p class="lead">What does that word mean to your average consumer?  How does inflation apply to my trip to Walmart?  Were prices different between 2019 and 2020?  If my paycheck remained the same from 2019 would I be doing better or worse?   What can I afford in 2020?</p>
        <!-- PRICES BAR CHART -->
        <div class="col-md-6" style="float:left;">
          <div class="card border-secondary mb-3" style="min-height:340px;">
            <div class="card-body" style="margin-right:10px;">
              <h5 class="card-title">Number of Product Prices Changes from 2019 to 2020</h5>
              <div id="barContainer" style="height: 300px; width: 100%;"></div>
            </div>
          </div>
        </div>
          <!-- PRICES PIE CHART -->
          <div class="col-md-6" style="float:left;">
          <div class="card border-secondary mb-3" style="min-height:340px;">
            <div class="card-body">
              <h5 class="card-title">How Product Prices Changed from 2019 to 2020</h5>
              <div id="pieContainer" style="height: 300px; width: 100%;"></div>
            </div>
          </div>
        </div>
        
        <br clear="both"/>
      </div>
    </div>
  </div>

  <!-- PRODUCT DETAILS -->    
  <a name="products"></a>
  <div class="row" style="padding:40px;margin-bottom:20px;background: linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)), url('./static/images/walmart-shopping.jpg');background-image:center;background-size: cover;background-position: center;">
    <div class="container">
      <div class="col-md-12" style="padding-bottom:30px;">
        <h2>Product Comparison</h2>
      </div>
      <div class="col-md-6" style="float:left;">
      <!-- SELECT -->
      <div class="card text-white bg-primary mb-3">
        <div class="card-header">Select a Category</div>
          <div class="card-body">
            <div class="form-group">
              <select class="custom-select" id="selCategory" onchange="optionChanged(this.value)"></select>
            </div>
          </div>
      </div>
      <div class="card text-white bg-primary mb-3">
        <div class="card-header">Select a Product</div>
          <div class="card-body">
            <div class="form-group">
              <select class="custom-select" id="selDataset" onchange="optionChanged(this.value)"></select>
            </div>
          </div>
      </div>
      <!-- PRODUCT INFO -->
      <div class="card border-primary mb-3">
          <div class="card-body" id="product-metadata"></div>
      </div>
    </div>
    <!-- PRICE COMPARISON -->
      <div class="col-md-6" style="float:left;padding-top:30px;" id="priceComp"> 
        <div id="svgOne" style="max-width:100%;"></div>
        <div id="priceOne" style="margin-bottom:25px;"></div>
        <div id="svgTwo"></div>
        <div id="priceTwo" style="margin-bottom:25px;"></div>
        <div class="breadcrumb">
          <div style="display:block;width:100%;"><strong>Price Difference:</strong></div>
          <div id="pricecomp" style="font-size:18px;color:#fff;"></div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- TOP PRODUCT PRICE CHANGES -->
  <a name="top-price-changes"></a>
  <div class="row">
    <div class="container">
      <h2>Top Product Price Changes</h2>
      <!-- TOP 10 INCREASES -->  
      <div class="col-md-6" style="float:left;">
          <h5>Top 10 Product Price Increases</h5>
          <table class="table">
            <tr>
              <th>Name</th>
              <th>Category</th>
              <th>Price Difference</th>
            </tr>
            <tbody>
              <tr>
                <td>Product Name goes here</td>
                <td>Product Category goes here</td>
                <td>Price changes goes here</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- TOP 10 DECREASES -->
        <div class="col-md-6" style="float:left;">
          <h5>Top 10 Product Price Decreases</h5>
          <table class="table">
            <tr>
              <th>Name</th>
              <th>Category</th>
              <th>Price Difference</th>
            </tr>
            <tbody>
              <tr>
                <td>Product Name goes here</td>
                <td>Product Category goes here</td>
                <td>Price changes goes here</td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
  </div>

  <!-- CATEGORIES -->
  <a name="categories"></a>
  <div class="row">
    <div class="container">
      <h2>Categories</h2>
        <!-- BUBBLE CHART -->
        <div class="col-md-12" id="bubble">
          <div id="scatter"></div>
        </div>
    </div>
  </div>

  <!-- CATEGORY PRICING 2019 vs 2020 -->
  <a name="category-pricing"></a>
  <div class="row">
    <div class="container" style="margin-top:30px;">
      <h2>Category Average Price Comparison</h2>
      <div class="col-md-12">
        <div id="avgbar"></div>
      </div>
    </div>
  </div>
  
  <!-- CATEGORY PRICING TRENDS -->
  <a name="category-pricing-trends"></a>
  <div class="row">
    <div class="container" style="margin-top:30px;">
      <h2>Category Pricing Trends</h2>
      <div class="col-md-12">
        <div id="chartContainer" style="height: 300px; width: 100%;"></div>
       Box and whisker plot<br>
       X-Axis: Categories<br>
       Y-Axis: Price<br>
       2019 vs 2020
      </div>
    </div>
  </div>


  
<!-- FOOTER -->
<footer class="page-footer">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright SacCrewProject2. UC Davis Data Analytics Boot Camp.</div>
</footer>
<!-- END FOOTER -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script> 
<script src="./static/app.js"></script>
<script src="./static/product_categories.js"></script>
<script src="./static/product_prices.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
<script src="./static/barAndWhisker.js"></script>
</body>
</html>

