<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Project 3</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>

<!-- Each Team Member will have a div to put their part of the web page-->
      <div class="col-md-5">
        <!-- This is where Product Category Scatter Plot will go-->
        <div id="scatter"></div>
      </div>
      <div class = "row">
        <div class = "col-md-12 text-center">
          <div id="avgbar">

          </div>
        </div>
        <div class = "col-md-12 text-center">
          <div id="topten" style="height: 600px; width: 900px;">
      </div>
    </div>
  </div>
  <div class = "col-md-12 text-center">
    <div id="bar2">
      </div>
      </div>
  <!-- The Team will add whatever javascript librarys needed for each part-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
  <!-- Each Members Individual Script-->
  <script src="./static/js/product_categories.js"></script>
  
</body>

</html>
